@model IEnumerable<ShoppingMallMVC.Models.ShoppingMallModel>

@{
    ViewData["Title"] = "Get";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h1>Get</h1>

<p>
    <a asp-action="Create">Create New</a>
</p>
<table class="table">
    <thead>
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.ShoppingMallName)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.ShoppingMallCity)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.ShoppingMallState)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Year)
            </th>
            <th></th>
        </tr>
    </thead>
    <tbody>
        @foreach (var item in Model)
        {
            <tr>
                <td>
                    @Html.DisplayFor(modelItem => item.ShoppingMallName)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.ShoppingMallCity)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.ShoppingMallState)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.Year)
                </td>
                <td>
                    <a asp-action="Edit" asp-route-id="@item.ShoppingMallName">Edit</a> |
                    <a asp-action="Details" asp-route-id="@item.ShoppingMallName">Details</a> |
                    <a asp-action="Delete" asp-route-id="@item.ShoppingMallName">Delete</a>
                </td>
            </tr>
        }
    </tbody>
</table>
